<% include partials/header %>

<h1>Logar</h1>

<form action = "/logar" method = "post">
    <input type = "text" name = "nomeDeUsuario" placeholder = "nome de usuário">
    <input type = "password" name = "senha" placeholder = "senha">
    <button>Confirmar</button>
</form>

<% include partials/footer %>